/* Typographie */

@font-face {
	font-family: "Plomb Sans";
	src: url("../fonts/PlombSans-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "Plomb Sans";
	src: url("../fonts/PlombSans-Bold.otf") format("opentype");
	font-weight: 700;
}

:root {
	font-family: Plomb Sans;
	font-size: 14px;
	line-height: 1.2;
}

.t-big {
	font-size: 28px;
	line-height: 1.3;
}

.bold {
	font-weight: 700;
}


/* Base */

html {
	display: flex;
	min-height: 100vh;
}

body {
	padding: 2rem;
	margin: 0;
	box-sizing: border-box;
	background: var(--bg-color);
	color: var(--fg-color);
	display: flex;
	flex: 1;
	min-height: 100vh;
	transition: background 0.1s, color 0.2s;

	--bg-color: #FFF;
	--fg-color: #000;
}

body.dark {
	--bg-color: #000;
	--fg-color: #FFF;
}

#app {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.main {
	position: relative;
	flex: 1
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}


/* Links */

*[disabled] {
	color: #A0A0A0;
}

button {
	cursor: pointer;
}

a {
	border-bottom: 1px dotted;
	cursor: pointer;
}

a:hover,
button:hover {
	color: #00b47c;
}

a:active,
button:active {
	color: #00e682;
}

.big-link::after {
	content: '↗';
	font-size: 1rem;
	margin-left: 0.15rem;
	vertical-align: text-top;
}


/* Header */

.header {
	position: relative;
	display: grid;
	grid-column-gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
	padding-bottom: 4rem;
}

.logo {
	display: flex;
	align-items: flex-start;
	font-weight: 700;
}

.logo svg {
	position: relative;
	top: -20%;
	margin-right: 0.75rem;
}

.logo svg .fill {
	transition: 0.15s fill;
}

body.dark .logo svg .fill {
	fill: var(--fg-color);
}

.drop-message {
	grid-column: span 2;
}

.header-btns {
	grid-column: 4;
	text-align: right;
}

.dark-mode-btn {
	position: relative;
	margin-right: 0.5rem;
	z-index: 1;
}


/* Drop Zone */

.drop-zone {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	background-color: #00b47c;
	transition: visibility 175ms, opacity 175ms;
}

.drop-zone.active {
	opacity: 0.85;
	visibility: visible;
}


/* Splash Screen */

.splash-screen {
	border-top: 1px solid;
	padding-top: 0.5rem;
	margin-top: 3.285rem;
}

.splash-screen-text {
	max-width: 34rem;
}

.splash-screen svg {
	margin-bottom: 0.5rem;
}

.splash-screen-notice {
	margin-top: 1rem;
}


/* Specimen */

.specimen-header {
	display: grid;
	grid-column-gap: 2rem;
	grid-template-columns: 3fr 1fr;
	border-bottom: 1px solid;
}

.specimen-header-controls {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: space-between;
}

.specimen-body {
	display: grid;
	grid-template-columns: [left] 1fr [middle] auto [right] 1fr;
	grid-column-gap: 2rem;
}

.specimen-controls {
	height: 4.5rem;
	border-bottom: 1px dotted;
}

.specimen-line {
	display: grid;
	grid-column: span 3;
	grid-template-columns: subgrid;
	border-bottom: 1px dotted;
}

.specimen-line .text {
	align-self: center;
}

.line-left-col {
	grid-column: left;
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.line-middle-col {
	grid-column: middle;
	display: flex;
	justify-content: center;
}

.line-right-col {
	grid-column: right;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.update-button,
.copy-button {
	margin-left: 1rem;
}

/* Font List */

.font-items {
	position: relative;
	min-width: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.font-items-scroller {
	display: flex;
	scroll-behavior: smooth;
	overflow-x: auto;
	overscroll-behavior-x: contain;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.font-items-scroller::-webkit-scrollbar {
  display: none;
}

.font-items-scroller.start {
	mask-image: linear-gradient(to left, rgb(0,0,0,0) 0%, rgb(0,0,0,1) 18%, rgb(0,0,0,1) 20%);
}

.font-items-scroller.middle {
	mask-image: linear-gradient(to left, rgb(0,0,0,0) 0%, rgb(0,0,0,1) 18%, rgb(0,0,0,1) 82%, rgb(0,0,0,0) 100%);
}

.font-items-scroller.end {
	mask-image: linear-gradient(to right, rgb(0,0,0,0) 0%, rgb(0,0,0,1) 18%, rgb(0,0,0,1) 20%);
}

.scroll-left-button {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	padding-right: 0.5rem;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
}

.scroll-right-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: flex;
	padding-left: 0.5rem;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}


.font-item {
	white-space: nowrap;
	font-weight: 700;
	margin-right: 1rem;
}

.font-item.loading {
	color: #A0A0A0;
}

.font-item-label {
	margin-right: 0.5rem;
}

.font-item-remove {
	cursor: pointer;
}

.icon-spinning {
	animation: spinning 2s linear infinite;
}

@keyframes spinning {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}


/* Inputs */

.line-count {
	white-space: nowrap;
}

.line-count-label {
	margin-right: 1rem;
}

.line-count-input {
	width: 2ch;
	text-align: center;
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.size-input {
	position: relative;
	display: flex;
	align-items: start;
	margin-right: 3rem;
}

.size-input-global {
	padding-top: 0;
}

.size-input input {
	width: 5ch;
	text-align: center;
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.size-input-lock {
	position: absolute;
	right: -1rem;
	cursor: pointer;
}

.width-input {
	display: flex;
	position: relative;
	align-items: center;
}

.width-input::before {
	content: '⇤';
	position: absolute;
	left: 0;
}

.width-input::after {
	content: '⇥';
	position: absolute;
	right: 0;
}

.width-input input {
	border: none;
	width: 8ch;
	text-align: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.width-input-line {
	height: 0.75px;
	background: currentColor;
	flex: 1;
}

.width-input-handle.left {
	width: 0.5rem;
	height: 1rem;
	position: absolute;
	left: 0;
	cursor: ew-resize;
	z-index: 1;
}

.width-input-handle.right {
	width: 0.5rem;
	height: 1rem;
	position: absolute;
	right: 0;
	cursor: ew-resize;
	z-index: 1;
}

.width-input-line-cap-left {
	width: 0;
}

.width-input-line-cap-right {
	position: relative;
	left: -100%;
}

.size-slider {
	display: flex;
	align-items: center;
}

.size-slider label {
	margin-right: 0.5rem;
}

.case-select {
	white-space: nowrap;
}

.case-select-lock {
	margin-right: 0.5rem;
}

.font-select {
	position: relative;
	margin-right: 2rem;
	white-space: nowrap;
}

.font-select-lock {
	position: absolute;
	right: -1rem;
}

.lang-select {
	margin-right: 2rem;
	white-space: nowrap;
	position: relative;
}

.lang-select-menu {
	position: absolute;
	top: calc(100% + 1rem + 1px);
	left: -1.25rem;
	background: var(--bg-color);
	border: 1px dotted;
	border-bottom-left-radius: 0.35rem;
	border-bottom-right-radius: 0.35rem;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
	border-top: 0;
	z-index: 1;
}

.lang-select-menu fieldset {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem; 
}

.lang-select-menu fieldset > * {
	box-sizing: border-box;
	width: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.lang-select-menu fieldset legend {
	float: left;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	margin-bottom: 1rem;
}

.lang-select-menu fieldset:first-of-type legend {
	padding-top: 0;
	border-top: 0;
}

.lang-select-update {
	text-align: right;
	border-top: 1px dotted;
	padding: 0.75rem 1.25rem;
}

.checkbox {
	display: flex;
	margin-bottom: 0.15rem;
}

input[type="checkbox"] {
	appearance: none;
}

.checkbox label {
	cursor: pointer;
}

.checkbox:hover label:before {
	color: #00b47c;
}

input[type="checkbox"] + label::before {
	content: '☐';
	margin-right: 0.5rem;
}

input[type="checkbox"]:checked + label::before {
	content: '☒';
	margin-right: 0.5rem;
}

.checkbox label {
	white-space: nowrap;
}

/* About */

.about {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background: var(--bg-color);
	visibility: hidden;
	opacity: 0;
	padding-top: 3.285rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 2rem;
	transition: visibility 175ms, opacity 175ms, background 0.1s;
	z-index: 2;
}

.about.open {
	visibility: visible;
	opacity: 1;
}

.about svg {
	max-width: 100%;
	height: auto;
}

.about-text {
	grid-column: span 2;
}

.about-text p {
	margin-bottom: 2rem;
}