@font-face {
	font-family: "Plomb Sans";
	src: url("fonts/PlombSans-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "Plomb Sans";
	src: url("fonts/PlombSans-Bold.otf") format("opentype");
	font-weight: 700;
}

:root {
	font-family: Plomb Sans;
	font-size: 14px;
	line-height: 1.2;
}

body {
	margin: 2rem;
	background: white;
	color: black;
	transition: background 0.1s, color 0.2s;
}

body.dark {
	background: black;
	color: white;
}

*[disabled] {
	color: #A0A0A0;
}

button {
	cursor: pointer;
}

button:hover {
	color: #00b47c;
}

button:active {
	color: #00e682;
}

.header {
	position: relative;
	display: grid;
	grid-column-gap: 2rem;
	grid-template-columns: repeat(4, 1fr);
	padding-bottom: 4rem;
}

input {
	background: inherit;
	color: inherit;
}

.header-btns {
	grid-column: 4;
	text-align: right;
}

.dark-mode-btn {
	position: relative;
	margin-right: 0.5rem;
	z-index: 1;
}

.logo {
	font-weight: 700;
}

.drop-zone {
	position: absolute;
	top: -2rem;
	left: -2rem;
	right: -2rem;
	bottom: 0;
}

.specimen-header {
	display: grid;
	grid-column-gap: 2rem;
	grid-template-columns: 3fr 1fr;
	border-bottom: 1px solid;
}

.specimen-header-controls {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	justify-content: space-between;
}

.line-count-label {
	margin-right: 1rem;
}

.line-count-input {
	width: 2ch;
	text-align: center;
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.specimen-controls {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4.5rem;
	border-bottom: 1px dotted;
}

.size-input {
	display: flex;
	align-items: start;
	margin-right: 2rem;
}


.size-input-global {
	padding-top: 0;
}

.size-input input {
	width: 5ch;
	text-align: center;
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.size-input-lock {
	margin-left: 0.5rem;
	cursor: pointer;
}

.width-input {
	display: flex;
	flex-shrink: 0;
	position: relative;
	margin: auto;
	align-items: center;
}

.width-input::before {
	content: '⇤';
	position: absolute;
	left: 0;
}

.width-input::after {
	content: '⇥';
	position: absolute;
	right: 0;
}

.width-input input {
	border: none;
	width: 8ch;
	text-align: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.width-input-line {
	height: 0.75px;
	background: currentColor;
	flex: 1;
}

.width-input-handle.left {
	width: 0.5rem;
	height: 1rem;
	position: absolute;
	left: 0;
	cursor: ew-resize;
	z-index: 1;
}

.width-input-handle.right {
	width: 0.5rem;
	height: 1rem;
	position: absolute;
	right: 0;
	cursor: ew-resize;
	z-index: 1;
}

.width-input-line-cap-left {
	width: 0;
}

.width-input-line-cap-right {
	position: relative;
	left: -100%;
}

.line-controls-left {
	display: flex;
	flex: 2;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.line-controls-right {
	display: flex;
	flex: 2;
	justify-content: flex-end;
	align-items: flex-start;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.update-button,
.copy-button {
	margin-left: 1rem;
}

.font-items {
	position: relative;
	min-width: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.scroll-left-button {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	padding-right: 0.5rem;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
}

.scroll-left-overlay {
	position: absolute;
	pointer-events: none;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1));
}

.scroll-right-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: flex;
	padding-left: 0.5rem;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}

.scroll-right-overlay {
	position: absolute;
	pointer-events: none;
	top: 0;
	bottom: 0;
	right: 0;
	width: 20%;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1));
}

.font-items-scroller {
	display: flex;
	scroll-behavior: smooth;
	overflow-x: auto;
	overscroll-behavior-x: contain;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.font-items-scroller::-webkit-scrollbar {
  display: none;
}

.font-item {
	white-space: nowrap;
	font-weight: 700;
	margin-right: 1rem;
}

.font-item.loading {
	color: #A0A0A0;
}

.font-item-label {
	margin-right: 0.5rem;
}

.font-item-remove {
	cursor: pointer;
}

.icon-spinning {
	animation: spinning 2s linear infinite;
}

@keyframes spinning {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}

.specimen-line {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dotted;
}

.specimen-line .text {
	align-self: center;
}

.size-slider {
	display: flex;
	align-items: center;
}

.size-slider label {
	margin-right: 0.5rem;
}

.case-select {
	white-space: nowrap;
}

.case-select-lock {
	margin-right: 0.5rem;
}

.font-select {
	white-space: nowrap;
}

.font-select-lock {
	margin-left: 0.25rem;
}

.lang-select {
	position: relative;
}

.lang-select-menu {
	position: absolute;
	top: calc(100% + 1rem + 1px);
	left: -1.25rem;
	background: white;
	border: 1px dotted;
	border-bottom-left-radius: 0.35rem;
	border-bottom-right-radius: 0.35rem;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
	border-top: 0;
	z-index: 1;
}

.lang-select-menu fieldset {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem; 
}

.lang-select-menu fieldset > * {
	box-sizing: border-box;
	width: 100%;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.lang-select-menu fieldset legend {
	float: left;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	margin-bottom: 1rem;
}

.lang-select-menu fieldset:first-of-type legend {
	padding-top: 0;
	border-top: 0;
}

.lang-select-update {
	text-align: right;
	border-top: 1px dotted;
	padding: 0.75rem 1.25rem;
}

.checkbox {
	display: flex;
}

.checkbox input[type="checkbox"] {
	margin-right: 0.5rem;
}

.checkbox label {
	white-space: nowrap;
}

