@font-face {
	font-family: "Plomb Sans";
	src: url("fonts/PlombSans-Regular.otf") format("opentype");
	font-weight: 400;
}

button {
	color: inherit;
}

body {
	background: black;
	color: white;
	margin: 2rem;
	font-family: Plomb Sans;
	line-height: 1.2;
}

button {
	margin: 0;
	padding: 0.3rem 0.4rem;
	box-shadow: none;
	border: none;
	background-color: transparent;
}

.specimen {

}

.line {
	display: flex;
}

.size-select {
	min-width: 4.5rem;
	display: flex;
	align-items: center;
}

.size-select span {
	flex: 1;
	text-align: center;
}

.size-select,
.text,
.refresh {
	border-bottom: 1px dashed;
}

/*.size-select,
.refresh {
	opacity: 0;
}

.specimen:hover .size-select,
.specimen:hover .refresh {
	opacity: 1;
}*/

/*.specimen:hover .size-select,
.specimen:hover .text,
.specimen:hover .refresh {
	border-color: black;
}*/

.drop-zone {
	border: 1px dashed;
	width: 10rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding:  1rem;
}