h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

fieldset,
p {
	border: 0;
	padding: 0;
	margin: 0;
}

button {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	background-color: transparent;
}

select {
	background: transparent;
	color: inherit;
	border: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
}

input {
	padding: 0;
}

input[type="number"],
input[type="text"] {
	border: 0;
}

input[type=number] { 
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: white;
	height: 1px;
}

input[type="range"]::-moz-range-track {
	background: black;
	height: 1px;
}

/***** Thumb Styles *****/
input[type="range"]::-moz-range-thumb {
	border: 0.2rem solid;
	border-color: white;
	border-radius: 0.25rem;
	background-color: black;
	height: 0.65rem;
	width: 0.65rem;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
/*   margin-top: -12px; /* Centers thumb on the track */
background-color: black;
height: 0.65rem;
width: 0.65rem;    
}